<!-- main -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag(@first_slide, class: "img-responsive", alt: "First slide") %>
        <div class="carousel-caption">
          <div class="carousel-box">
            <h2 class="carousel-text"><%= @first_slide_head %></h2>
            <p class="carousel-text"><%= @first_slide_content %></p>
          </div>
          <div class="carousel-more">
            <%= link_to("More Info", {:controller => 'pages', :action => 'minecraft'}, :class => 'btn btn-lg btn-primary') %>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag(@second_slide, class: "img-responsive", alt: "First slide") %>
        <div class="carousel-caption">
          <div class="carousel-box">
            <h2 class="carousel-text"><%= @second_slide_head %></h2>
            <p class="carousel-text"><%= @second_slide_content %></p>
          </div>
          <div class="carousel-more">
            <%= link_to("More Info", "#", :class => 'btn btn-lg btn-primary') %>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag(@third_slide, class: "img-responsive", alt: "First slide") %>
        <div class="carousel-caption">
          <div class="carousel-box">
            <h2 class="carousel-text"><%= @third_slide_head %></h2>
            <p class="carousel-text"><%= @third_slide_content %></p>
          </div>
          <div class="carousel-more">
            <%= link_to("More Info", "#", :class => 'btn btn-lg btn-primary') %>
          </div>
        </div>
      </div>

    </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>


